*{
    background-color: black;
}

@font-face {
    font-family: 'tahrir';
    src: url('../fonts/tahrir.ttf');
    font-weight: normal;
    font-style: normal;
    }
    body{
    font-family: "tahrir";
    }

.web-back{
    padding: 20px;
    padding-right: 50px;
}
.container{
    padding-top: 10px;
    margin: 20px;
    width: 250px;
}

p{
    color: aliceblue;
    font-size: 20px;
    text-align: start;
    direction: rtl;
    font-family: "tahrir";
}

img{
    display: block;
    height: 180px;
    margin-left: auto;
}
iframe{
    padding-top: 20px;
    width: 100%;
    max-width: 250px;
}
